<html>
  <meta charset="utf-8">
  <meta lang="en">
  <head>
    <title>Document search with TF-IDF</title>
    <style>
	  .hrzcenter {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      }
      td {
      border: 1px solid black;
      }
  </style>
  </head>
  <body>
    <h1 style="text-align: center;">Document search with TF-IDF</h1>
	<p>TF-IDF calculated from PubMed documents for Kennedy disease (204 docs)</p>
    <!-- POST search term to server -->
    <form method="POST" id="searchform">
      <table style="margin: auto;">
        <tr>
          <th>
            <input type="text" placeholder="Search phrase" id="searchterm" name="searchterm" style="font-size: 2em;" autofocus>
          </th>
        </tr>
		<tr>
		  <td>
		    <fieldset>
              <legend>Choose TF-IDF calculation method:</legend>
              <input type="radio" id="tfidf" name="searchtype" value="tfidf" checked />
              <label for="tfidf">Vanilla TFIDF (L2 normalization)</label>
			  <input type="radio" id="tfidf2" name="searchtype" value="tfidf2" />
              <label for="tfidf">TFIDF with bigrams</label>
            </fieldset>
		  </td>
		</tr>
		<tr>
		  <td>
            <div style="text-align: center;">
              <button type="submit" id="submitbutton">Submit search</button>
            </div>
          </td>
		</tr>
      </table>
    </form>
	<!--
    <form action="/upload" method="POST" id="uploadform" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload file to training corpus:</legend>
        <input type="file" name="file">
        <button style="text-align: center;" type="submit" id="uploadbutton">Upload</button>
      </fieldset>
    </form>
	-->
  </body>
</html>